@use "../../../presets/index" as *;
@use "../../../mixins/index" as *;

.brands {
  background-color: $color-bg-accent;

  @include xl-min {
    padding-top: 105px;
    padding-bottom: 105px;
  }
  @include xl-lg {
    padding-top: 100px;
    padding-bottom: 100px;
  }
  @include lg {
    padding-top: 80px;
    padding-bottom: 80px;
  }

  &__title {
    margin: 0 0 70px;

    @include ul-min {
      padding: 0 350px 0 350px;
    }
    @include ul-lg {
      padding: 0 200px 0 200px;
    }
    @include lg-md {
      padding: 0 150px 0 150px;
    }
  }

  &__list {
    display: grid;
    align-items: center;
    gap: ($gap * 2) $gap;

    @include xl-min {
      justify-content: space-between;

      grid-template-columns: repeat(auto-fit, minmax(50px, max-content));
    }
    @include xl-lg {
      justify-content: space-evenly;

      grid-template-columns: repeat(3, minmax(50px, max-content));
      justify-items: center;
    }
    @include lg-sm {
      justify-content: space-evenly;

      grid-template-columns: repeat(2, minmax(50px, max-content));
      justify-items: center;
    }
    @include sm {
      justify-items: center;
    }
  }
}
