.header {
  border-color: $color-white;
  min-height: 100vh;
  display: flex;
  align-items: center;
  position: relative;
}
.header-menu {
  padding-top: $gap-lg;
  padding-bottom: $gap-lg;
  display: flex;
  column-gap: 50px;
  align-items: center;
  position: absolute;
  top: 0;
  left: $gap;
  right: $gap;

  &::after {
    content: "";
    height: 1px;
    width: 100%;
    top: 100%;
    background-color: $color-grey;
    position: absolute;
    bottom: 0;
  }
  &__actions {
    display: flex;
    gap: $gap-sm;
  }
  &__btn {
    min-width: 120px;
  }
}

.header-navbar {
  flex-grow: 1;
  display: flex;
  column-gap: 60px;
}

.header-content {
  display: grid;
  grid-template-areas: "ttl img" "dsc img" "act img" "nts img";
 
  row-gap: $gap;
  padding-top: 160px;
  padding-bottom: 160px;

  @include xl-min {
     grid-template-columns: 580px 1fr;
  }

  @include xl-lg {
    grid-template-columns: 50% 1fr;
  }
  @include lg {
    grid-template-columns: 1fr;
    grid-template-areas: "ttl" "dsc" "img" "act" "nts";
  }

  &__title {
    grid-area: ttl;
    font-weight: 600;

    line-height: 1.08;
    margin: 0;

    @include xl-min {
      font-size: 65px;
    }
    @include xl-lg {
      font-size: 50px;
    }
    @include lg {
      font-size: 40px;
    }
  }
  &__description {
    grid-area: dsc;
   
    line-height: 1.4;
    margin-bottom: $gap;
    padding-right: 70px;

    @include xl-min {
       font-size: 25px;
    }
    @include xl {
      font-size: 20px;
          }
  }
  &__actions {
    grid-area: act;
    display: flex;
    column-gap: $gap-sm;
  }
  &__notes {
    grid-area: nts;
  }
  &__picture {
    grid-area: img;
    display: flex;
    align-items: center;
  }
  &__image {
    width: 100%;
  }
  &__btn {
    min-width: 160px;
  }
}
