header {
  background-color: $color-white;
}
.header-menu {
  padding-top: 30px;
  padding-bottom: 30px;
  display: flex;
  column-gap: 50px;
  align-items: center;
}
.header-navbar {
  flex-grow: 1;
  display: flex;
  column-gap: 60px;
}
.header-action {
  
}