@use "../../presets" as *;
@use "../../mixins" as *;

.footer-secondary {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  padding: 45px 0 45px 0;
  gap: $gap;
  align-items: center;

  @include sm-xs {
    grid-template-columns: repeat(1, 1fr);
  }
}

.footer-left {
  display: flex;
  gap: 15px;
  align-items: center;

  @include lg {
    flex-direction: column;
    align-items: flex-start;
  }
  @include sm-xs {
    flex-direction: row;
  }

  &__note {
    font-size: 12px;
    line-height: 125%;

    @include xl-min {
      padding-right: 150px;
    }

    @include sm-xs {
      padding-right: 10px;
      font-size: 10px;
      line-height: 100%;
    }
  }
}

.footer-right {
  display: flex;
  flex-direction: column;
  padding-right: 50px;
  align-items: flex-end;
  gap: 10px;

  @include sm-xs {
    flex-direction: row;
    justify-content: center;
    padding: 0;
  }

  &__year {
    font-size: 12px;
    line-height: 125%;
  }
  &__text {
    font-size: 12px;
    line-height: 125%;
  }
}
