@use "../../presets" as *;
@use "../../mixins" as *;

.footer {
  background-color: $color-bg-light-grey;
}

.footer-main {
 /* display: flex;
  padding-top: 95px;
  padding-bottom: 100px;
  gap: 85px;
  border-bottom: 1px solid #000;*/

  display: grid;
  grid-template-areas: "studies menu";
  border-bottom: 1px solid #000;
  padding-top: 95px;
  padding-bottom: 100px;

  @include xl {
    grid-template-areas:  "menu" "studies";
  }
}
