@use "../../presets" as *;
@use "../../mixins" as *;

.footer {
  background-color: $color-bg-light-grey;
}

.footer-main {
  display: grid;
  grid-template-areas: "studies menu";
  border-bottom: 1px solid $color-black;
  padding-top: 95px;
  padding-bottom: 100px;
  gap: 100px;

  @include xl {
    grid-template-areas: "studies" "menu" ;
    gap: 50px;
  }
  @include md-xs {
    padding-top: 50px;
    gap: 40px;
    justify-items: center;
  }
}
