@use "../../presets" as *;
@use "../../mixins" as *;

.footer-menu {
  display: grid;
  gap: 60px;
  grid-template-columns: repeat(4, 1fr);

  @include md-sm {
    grid-template-columns: repeat(2, 1fr);
    justify-items: center;
    gap: 25px;
  }
  @include sm-xs {
    grid-template-columns: repeat(1, 1fr);
    justify-items: center;
    gap: $gap;
  }
}

.popular-categories {
  &__title {
    font-weight: 600;
    font-size: 20px;
    line-height: 125%;

    @include md-min {
      font-weight: 600;
      font-size: 20px;
    }
  }

  &__list {
    list-style: none;
    margin: 0;
    padding: 0;
    line-height: 25px;

    @include md-min {
      font-size: 15px;
    }
  }
}
