@use "../../presets" as *;
@use "../../mixins" as *;

.studies {
  grid-area: studies;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  max-width: 400px;
  padding-left: 50px;

  @include md-sm {
    padding: 0;
  }

  &__title {
    margin: 0;
    padding-bottom: 30px;
    font-size: 40px;
    line-height: 125%;

    @include sm-xs {
      font-size: 30px;
    }
  }
  &__description {
    font-size: 20px;
    line-height: 150%;
    padding-bottom: 15px;

    @include sm-xs {
      font-size: 16px;
      line-height: 130%;
    }
  }

  &__logo {
    padding-bottom: 10px;
  }

  &__img {
    padding-bottom: 30px;
    width: 100%;

    @include sm-xs {
      width: 80%;
    }
  }

  &__link {
    font-weight: 600;
    font-size: 20px;
    line-height: 150%;
  }
}
