@use "../../../presets" as *;
@use "../../../mixins" as *;

.autor {
  background-color: $color-bg-light-blue;
  padding-top: 65px;
  padding-bottom: 105px;

  @include lg-xs {
    padding-bottom: 25px;
  }
}

.autor-info {
  padding: 0 40px;
  display: grid;
  grid-template-areas: "txt pht" "owr pht";

  @include lg-xs {
    grid-template-areas: "pht" "owr" "txt";
  }
}
.autor-text {
  grid-area: txt;
  margin: 0;
  font-size: 30px;
  line-height: 133%;
  padding-right: 60px;
  padding-bottom: 25px;

  @include lg {
    font-size: 25px;
    padding-bottom: 40px;
  }
  @include md {
    font-size: 20px;
    line-height: 150%;
  }
}

.owner {
  grid-area: owr;

  @include lg-xs {
    padding-bottom: 45px;
  }

  &__name {
    margin: 0;
    grid-area: nme;
    font-size: 15px;
    line-height: 167%;
  }
  &__brand {
    margin: 0;
    grid-area: brn;
  }
}
.autor-photo {
  grid-area: pht;

  @include lg-xs {
    padding-bottom: 10px;
  }
  &__img {
    width: 200px;

    @include sm {
      width: 150px;
    }
  }
}
