@use "../../../presets/index" as *;
@use "../../../mixins/index" as *;

.integration {
  background-color: $color-white;
}
.integration-content {
  display: flex;
  align-items: center;
  flex-direction: column;

  padding-top: 165px;
  padding-bottom: 165px;

  &__picture {
    padding-bottom: 35px;
    @include lg-sm {
      width: 75%;
    }
  }
  &__img {
    width: 100%;
  }
}
.integration-text {
  display: flex;
  align-items: center;
  flex-direction: column;
  max-width: 800px;
  @include md-xs {
  }
  &__title {
    margin: 0;
    font-size: 65px;
    line-height: 115%;
    padding-bottom: 10px;

    @include lg-md {
      padding-bottom: 20px;
      font-size: 50px;
      line-height: 100%;
    }
    @include md-xs {
      font-size: 40px;
      line-height: 100%;
    }
  }
  &__description {
    font-size: 25px;
    line-height: 120%;
    padding: 0 120px 25px 120px;
    text-align: center;

    @include md-sm {
      padding: 0 50px 20px 50px;
    }
    @include sm-xs {
      padding: 0 40px 5px 40px;
      font-size: 20px;
    }
  }
}
