@use "../../../presets" as *;
@use "../../../mixins" as *;

.quality {
  @extend %job-article;

  &__content {
    @extend %job-content;
  }

  &__title {
    @extend %job-title;
  }

  &__description {
    @extend %job-description;
  }

  &__picture {
    @extend %job-picture;
  }

  &__image {
    @extend %job-image;
  }

  &__btn {
    @extend %job-btn;
  }
}