@use "../../node_modules/normalize.css/normalize";

@use "mixins/mixins-media";

@use "common/fonts";
@use "common/typography";
@use "common/classes";

@use "sections/header/header";
@use "sections/header/header-menu";
@use "sections/header/header-logo";
@use "sections/header/header-navbar";
@use "sections/header/header-actions";
@use "sections/header/header-content";

@use "sections/main/main";

@use "sections/main/brands/brands";

@use "sections/main/job/control";
@use "sections/main/job/time";
@use "sections/main/job/quality";
@use "sections/main/job/work";

@use "sections/main/opportunities/opportunities.scss";

@use "sections/main/productivity/productivity";

@use "sections/main/autor/autor";

@use "sections/main/presentation/presentation.scss";

@use "sections/main/integration/integration.scss";

@use "sections/main/sentence/sentence.scss";

@use "sections/footer/footer-menu.scss";
@use "sections/footer/footer-secondary.scss";
@use "sections/footer/footer.scss";
@use "sections/footer/foter-article.scss";