@use "../presets" as *;
@use "mixins" as *;
@use "mixins-media" as *;

%job-article {
  margin-top: 100px;
  margin-bottom: 125px;
  display: flex;
  gap: $gap;

  @include lg-min {
    align-items: center;
  }
  @include lg {
    flex-direction: column;
  }
  @include lg-md {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
  }
}