$color-white: #ffffff;
$color-black: #000000;
$color-accent: #ff6336;
$color-grey: #cccccc;
$color-bg-light-grey: #eeeeee;
$color-bg-accent: #ff9c7d;
$color-bg-light: #fff8e4;
$color-bg-light-blue: #c9e8f2;
$color-bg-light-accent: #dabc98;
