@use "../presets" as *;
@use "../mixins" as *;

.container {
  max-width: $ul;
  padding-left: $gap;
  padding-right: $gap;
  margin: 0 auto;
}
.btn {
  display: block;
  padding: 0.5em 1em;
  border-radius: 0;
  border-width: 1px;
  border-style: solid;
}
.btn--light {
  border-color: rgba($color-white, 0.5);
  background-color: $color-black;
  font-weight: 600;
  font-size: 16px;
}
.btn--black {
  color: $color-white;
  background-color: $color-black;
  font-weight: 600;
  font-size: 17px;
}
.btn--accent {
  color: $color-white;
  border-color: $color-accent;
  background-color: $color-accent;
  font-weight: 600;
  font-size: 16px; 
}
.dtn--sm {
  @include lg-min {
    min-width: 120px;
    min-height: 45px;
  }
  @include lg {
    min-width: 100px;
    min-height: 40px;
  }
}
.dtn--md {
  min-width: 160px;
  min-height: 45px;
}
.btn--lg {
  min-width: 160px;
  min-height: 60px;
}
.btn--xl {
  min-width: 190px;
  min-height: 60px;
}
