.container {
  min-width: $xxl;
  padding-left: 70px;
  padding-right: 70px;
  margin: 0 auto;
}
.btn {
  display: block;
  padding: $gap-sm;
  min-height: 45px;
  border-radius: 0;
  border-width: 1px;
  border-style: solid;
}
.btn--light {
  border-color: rgba($color-black, 0.5);
  background-color: $color-white;
}
.btn--accent {
  border-color: $color-accent;
  background-color: $color-accent;
}
